.container {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
       "car"
        "animal"; */
    width: 80%;
    min-height: 87vh;
    min-width: 700px;
    max-width: 1200px;
    text-align: left;
    margin: 15px auto;
    padding-right: 100px;
}

h1 {
    margin: 0 20px 20px 30px;
}

button {
    font-size: 1.1rem;
    padding: 3px 10px;
    width: 180px;
    border-radius: 10px;
    color: #555;
    background-color: #eee;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

button:hover {
    color: #eee;
    background-color: #555;
}

h2 {
    font-size: 1.5rem;
    color: red;
}

img {
    border-radius: 10px;
    border: 5px solid #999;
}

#car {
    /* grid-area: car; */
}

.car {
    float: left;  
    width: 320px;
    height: auto;
    margin: 0 20px 20px 30px;
}

p {
    clear: both; 
    font-size: 1.15rem;
    padding-top: 10px;
    width: 85%;
    margin: 0 20px 20px 30px;
}

select {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 5px 7px;
    width: 250px;
    height: 40px;
    color: #555;
    display: inline-block;
    margin-bottom: 15px;
    border-radius: 10px;
}

#animal {
    /* grid-area: animal; */
    margin: 50px auto;
    text-align: left;
    font-size: 1.25rem;
    font-weight: bold;
    overflow: hidden;
    height: 200px;
}

#animal-name {
    font-size: 1.75rem;
    color: #060;
    text-transform: uppercase;
}

#animal-pic {
    float: left;  
    margin: 0 20px 20px 30px;
    width: 320px;
    height: auto;
}

#animal-menu-and-text {
    margin: 0 50px 0 30px;
}

#animal-info {
    display: inline-block;
}

span {
    line-height: 1.75rem;
}

#continent {
    width: 300px;
}

/* @media (min-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "car animal";
} */